@font-face {
  font-family: nauts-font;
  src: url(nauts-font-2.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 18px nauts-font, "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #ffffff;
}

a {
  color: #00B7FF;
}

a:link {
  text-decoration: none;
}

#page {
  background-color: #000000;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
  min-width: 1060px;
  width: 100%;
  letter-spacing: 2px;
}

#content {
  width: 1000px;
  height: 100%;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: rgba(9, 9, 10, 0.64);
}

#groups {

}

#groups .title {
  margin-top: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 46px;
}

#groups .list {

}

#groups .group {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 40px;
}

#groups .group .name {
  margin-bottom: 5px;
}

#groups .group .name a {
  color: #ffffff;
  text-decoration: underline;
}

#groups .group .table {
  width: 475px;
  border: 0;
}

#groups .group .table .header {
  color: rgb(122, 211, 238);
}

#groups .group .table .line {
  text-align: center;
}

#groups .group .table .line .rank {
  text-align: left;
}

#groups .group .table .line .name {
  text-align: left;
}

#groups .group .table .line .name a {
  color: #ffffff;
  text-decoration: underline;
}

#player .title {
  margin-top: 50px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 46px;
}

#player a {
  color: #ffffff;
}

#player {
  position: relative;
}

#player .steam {
  position: absolute;
  top: 30px;
  right: 10px;
}

#player div .title {
  position: relative;
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: bold;
}

#player #stats div .title {
  font-size: 22px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px;
}

#player #stats div .border {
  border: 1px solid #000000;
}

#player #stats #general .line {
  position: relative;
}

#player #stats #general .line .value {
  position: absolute;
  top: 0;
  right: 10px;
}

#player #stats #general .info2 {
  position: absolute;
  top: 10px;
  left: 70px;
}

#player #stats #general .info2 a {
  color: #ffffff;
  text-decoration: underline;
}

#player #stats .highlights {
  display: inline-block;
  margin-left: 30px;
  width: 30%;
  vertical-align: top;
}

#player #stats .highlights a {
  color: #ffffff;
  text-decoration: underline;
}

#player #stats .highlights .line {
  position: relative;
  margin-bottom: 5px;
}

#player #stats .highlights .line .info {
  position: absolute;
  top: 12px;
  left: 70px;
}

#player #stats .highlights .line .info2 {
  position: absolute;
  top: -5px;
  left: 70px;
}

#player #stats #accomplishments {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}

#player #stats #accomplishments .line {
  position: relative;
}

#player #stats #accomplishments .line .info {
  position: absolute;
  top: 12px;
  left: 70px;
}

#player #stats #general {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

#player #matches .no_match {
  margin-bottom: 30px;
}

#player #matches .match {
  position: relative;
  margin-bottom: 20px;
}

#player #matches .match .name {
  position: absolute;
  left: 0;
  top: 0;
}

#player #matches .match .name a {
  color: #ffffff;
  text-decoration: underline;
}

#player #matches .match .date {
  position: absolute;
  right: 0;
  top: 0;
}

#player #matches .match .rounds {
  padding-left: 20px;
  padding-top: 25px;
}

#player #matches .match .rounds .round {
  width: 900px;
  position: relative;
  height: 20px;
}

#player #matches .match .rounds .round .rank {
  position: absolute;
  font-weight: bold;
}

#player #matches .match .rounds .round .nauts {
  position: absolute;
  left: 30px;
}

#player #matches .match .rounds .round .score {
  position: absolute;
  right: 0;
}

#player #matches .match .winner {
  /*position: absolute;
  bottom: 0;
  left: 100px;*/
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#player #matches .match .winner a {
  color: #ffffff;
}

input {
  font-family: nauts-font, "Lucida Grande", Helvetica, Arial, sans-serif;
}

.admin_list {

}

.admin_item {
  position: relative;
  height: 30px;
  padding-left: 60px;
}

.admin_item_value {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

.admin_item_value .command {
  position: absolute;
  right: 5px;
  top: 0;
}

.admin_item_value a {
  color: #ffffff;
  text-decoration: underline;
}

.admin_item_commands {
  position: absolute;
  left: 0;
  top: 0;
}

.admin_icons {
  position: absolute;
  left: 200px;
  bottom: 0;
}